.wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-6"
    "img-7 img-7 img-8 img-6";
  grid-gap: 1.5rem;
  padding: 15px;
  width: 1200px;
  max-width: 1200px;
  min-width: 300px;
}
.wrapper2 > div {
  width: 100%;
  /* height: 15rem; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-1 {
  grid-area: img-1;
  min-height: 31.5rem;
  background-image: url("../../assets/images/Masonry/BG1.jpg");
}
.img-2 {
  grid-area: img-2;
  background-image: url("../../assets/images/Masonry/BG2.jpg");
}
.img-3 {
  grid-area: img-3;
  background-image: url("../../assets/images/Masonry/BG3.jpg");
}
.img-4 {
  grid-area: img-4;
  background-image: url("../../assets/images/Masonry/BG4.jpg");
}
.img-5 {
  grid-area: img-5;
  background-image: url("../../assets/images/Masonry/BG6.jpg");
}
.img-6 {
  grid-area: img-6;
  min-height: 31.5rem;
  background-image: url("../../assets/images/Masonry/Business\ Quiz.png");
}
.img-7 {
  grid-area: img-7;
  background-image: url("../../assets/images/Masonry/Ideathon.png");
}
.img-8 {
  grid-area: img-8;
  background-image: url("../../assets/images/Masonry/Zenith\ Shark\ Tank.png");
}
@media (max-width: 700px) {
  .wrapper2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "img-1 img-2"
      "img-1 img-3"
      "img-4 img-5"
      "img-6 img-7"
      "img-6 img-8";
    grid-gap: 1rem;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .wrapper2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "img-1"
      "img-2"
      "img-3"
      "img-4"
      "img-5"
      "img-6"
      "img-7"
      "img-8";
    grid-gap: 1rem;
    padding: 10px;
  }
}
